{namespace {{cookiecutter.package_name|lower}}.parts}

/**
 * a sample template
 */
{template .message}
	{@param msg: string}

	<div class="{css result-message} {css card}">
		{$msg}
	</div>
{/template}
